table {
    border: none;
    height: 100px;
    width: 100px;
    border-collapse: collapse;
}
td {
    border: 1px solid black;
    border-top: 0px;
}
tr td:first-child {
border-left: none;
}
tr td:last-child {
    border-right: none;
}
tr:nth-of-type(3) td {
    border-bottom: none;
}
/*tr:last-child td*/